p0113-lumieres-lausanne.xsd

<xs:schema 
vc:minVersion="1.0" targetNamespace="http://api.knora.org/ontology/0113/lumieres-lausanne/xml-import/v1#" elementFormDefault="qualified" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:knoraXmlImport="http://api.knora.org/ontology/knoraXmlImport/v1#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://api.knora.org/ontology/0113/lumieres-lausanne/xml-import/v1#">
    <xs:import schemaLocation="knoraXmlImport.xsd" namespace="http://api.knora.org/ontology/knoraXmlImport/v1#"/>
    <xs:element name="AdditionalResource">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="additionalResourceHasTitle"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="0" name="hasDiffusionType"/>
                        <xs:element type="knoraXmlImport:uriValueType" maxOccurs="1" minOccurs="0" name="hasReference"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="AdditionalResource_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="AdditionalResource"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="BibliographicNotice">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="bibliographicNoticeHasTitle"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasAbstract"/>
                        <xs:element type="AdditionalResource_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasAdditionalResource"/>
                        <xs:element type="knoraXmlImport:hlistValueType" maxOccurs="1" minOccurs="0" name="hasArchive"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasBookTitle"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasCollection"/>
                        <xs:element type="Contribution_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasContribution"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasDictionnaryTitle"/>
                        <xs:element type="knoraXmlImport:hlistValueType" maxOccurs="1" minOccurs="1" name="hasDocumentType"/>
                        <xs:element type="Person_linkValueType" maxOccurs="1" minOccurs="0" name="hasFirstAuthor"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasFirstEdition"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasJournalAbbreviation"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasJournalNumber"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasJournalSeriesTitle"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasJournalTitle"/>
                        <xs:element type="knoraXmlImport:hlistValueType" maxOccurs="unbounded" minOccurs="1" name="hasLanguage"/>
                        <xs:element type="knoraXmlImport:hlistValueType" maxOccurs="1" minOccurs="1" name="hasLiteratureType"/>
                        <xs:element type="knoraXmlImport:hlistValueType" maxOccurs="1" minOccurs="0" name="hasManuscriptType"/>
                        <xs:element type="Note_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasNote"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasOldId"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasPages"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasPublisher"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasShelfNumber"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasShortTitle"/>
                        <xs:element type="knoraXmlImport:hlistValueType" maxOccurs="unbounded" minOccurs="0" name="hasSubjectKeyword"/>
                        <xs:element type="Person_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasSubjectPerson"/>
                        <xs:element type="knoraXmlImport:hlistValueType" maxOccurs="unbounded" minOccurs="0" name="hasSubjectSociety"/>
                        <xs:element type="Transcription_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasTranscription"/>
                        <xs:element type="knoraXmlImport:intValueType" maxOccurs="1" minOccurs="0" name="hasVolumeNumber"/>
                        <xs:element type="knoraXmlImport:intValueType" maxOccurs="1" minOccurs="0" name="hasVolumeSequenceNumber"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="1" minOccurs="0" name="hasWritingDate"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasWritingPlace"/>
                        <xs:element type="Collection_linkValueType" maxOccurs="1" minOccurs="0" name="isInCollection"/>
                        <xs:element type="Project_linkValueType" maxOccurs="unbounded" minOccurs="0" name="isInProject"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="BibliographicNotice_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="BibliographicNotice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Collection">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="collectionHasTitle"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasContent"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="1" name="hasDiffusionType"/>
                        <xs:element type="User_linkValueType" maxOccurs="1" minOccurs="0" name="hasOwner"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Collection_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Collection"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Contribution">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:hlistValueType" maxOccurs="1" minOccurs="0" name="hasContributionType"/>
                        <xs:element type="Person_linkValueType" maxOccurs="1" minOccurs="0" name="isContributor"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Contribution_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Contribution"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Dissemination">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="contentHasAuthor"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="1" minOccurs="0" name="disseminationHasDate"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="disseminationHasPlace"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="disseminationHasSubtitle"/>
                        <xs:element type="knoraXmlImport:hlistValueType" maxOccurs="1" minOccurs="1" name="disseminationHasType"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="freeContentHasName"/>
                        <xs:element type="AdditionalResource_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasAdditionalResource"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasContent"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="1" name="hasDiffusionType"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasOldId"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="studyHasIntroduction"/>
                        <xs:element type="knoraXmlImport:intValueType" maxOccurs="1" minOccurs="0" name="studyHasSequenceNumber"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="webContentHasTitle"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Dissemination_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Dissemination"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Document">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:file"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="additionalResourceHasTitle"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="0" name="hasDiffusionType"/>
                        <xs:element type="knoraXmlImport:uriValueType" maxOccurs="1" minOccurs="0" name="hasReference"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Document_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Document"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Draft">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:Resource_linkValueType" maxOccurs="1" minOccurs="0" name="isDraftOf"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Draft_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Draft"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DraftBibliographicNotice">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="bibliographicNoticeHasTitle"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasAbstract"/>
                        <xs:element type="AdditionalResource_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasAdditionalResource"/>
                        <xs:element type="knoraXmlImport:hlistValueType" maxOccurs="1" minOccurs="0" name="hasArchive"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasBookTitle"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasCollection"/>
                        <xs:element type="Contribution_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasContribution"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasDictionnaryTitle"/>
                        <xs:element type="knoraXmlImport:hlistValueType" maxOccurs="1" minOccurs="1" name="hasDocumentType"/>
                        <xs:element type="Person_linkValueType" maxOccurs="1" minOccurs="0" name="hasFirstAuthor"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasFirstEdition"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasJournalAbbreviation"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasJournalNumber"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasJournalSeriesTitle"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasJournalTitle"/>
                        <xs:element type="knoraXmlImport:hlistValueType" maxOccurs="unbounded" minOccurs="1" name="hasLanguage"/>
                        <xs:element type="knoraXmlImport:hlistValueType" maxOccurs="1" minOccurs="1" name="hasLiteratureType"/>
                        <xs:element type="knoraXmlImport:hlistValueType" maxOccurs="1" minOccurs="0" name="hasManuscriptType"/>
                        <xs:element type="Note_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasNote"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasOldId"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasPages"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasPublisher"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasShelfNumber"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasShortTitle"/>
                        <xs:element type="knoraXmlImport:hlistValueType" maxOccurs="unbounded" minOccurs="0" name="hasSubjectKeyword"/>
                        <xs:element type="Person_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasSubjectPerson"/>
                        <xs:element type="knoraXmlImport:hlistValueType" maxOccurs="unbounded" minOccurs="0" name="hasSubjectSociety"/>
                        <xs:element type="Transcription_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasTranscription"/>
                        <xs:element type="knoraXmlImport:intValueType" maxOccurs="1" minOccurs="0" name="hasVolumeNumber"/>
                        <xs:element type="knoraXmlImport:intValueType" maxOccurs="1" minOccurs="0" name="hasVolumeSequenceNumber"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="1" minOccurs="0" name="hasWritingDate"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasWritingPlace"/>
                        <xs:element type="knoraXmlImport:Resource_linkValueType" maxOccurs="1" minOccurs="0" name="isDraftOf"/>
                        <xs:element type="Collection_linkValueType" maxOccurs="1" minOccurs="0" name="isInCollection"/>
                        <xs:element type="Project_linkValueType" maxOccurs="unbounded" minOccurs="0" name="isInProject"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="DraftBibliographicNotice_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="DraftBibliographicNotice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DraftPerson">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasBiography"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasCivilStatus"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasCommentWork"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasName"/>
                        <xs:element type="knoraXmlImport:hlistValueType" maxOccurs="1" minOccurs="0" name="hasNationality"/>
                        <xs:element type="Note_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasNote"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasOldId"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasPlaceBirth"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasPlaceDeath"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasPlaceOrigin"/>
                        <xs:element type="Position_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasPosition"/>
                        <xs:element type="Relationship_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasRelationship"/>
                        <xs:element type="knoraXmlImport:hlistValueType" maxOccurs="1" minOccurs="0" name="hasReligion"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="0" name="isApproximateBeginDate"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="0" name="isApproximateEndDate"/>
                        <xs:element type="knoraXmlImport:Resource_linkValueType" maxOccurs="1" minOccurs="0" name="isDraftOf"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="isInArchive"/>
                        <xs:element type="Collection_linkValueType" maxOccurs="1" minOccurs="0" name="isInCollection"/>
                        <xs:element type="Project_linkValueType" maxOccurs="unbounded" minOccurs="0" name="isInProject"/>
                        <xs:element type="SocietyMembership_linkValueType" maxOccurs="unbounded" minOccurs="0" name="isInSociety"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="0" name="isModern"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="1" name="mayHaveBiography"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="0" name="noticeIsValid"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="1" minOccurs="0" name="personHasDate"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="DraftPerson_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="DraftPerson"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Finding">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="contentHasAuthor"/>
                        <xs:element type="AdditionalResource_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasAdditionalResource"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasContent"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="1" name="hasDiffusionType"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasOldId"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="webContentHasTitle"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Finding_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Finding"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="FreeContent">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="contentHasAuthor"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="freeContentHasName"/>
                        <xs:element type="AdditionalResource_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasAdditionalResource"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasContent"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="1" name="hasDiffusionType"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasOldId"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="webContentHasTitle"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="FreeContent_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="FreeContent"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Image">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:file"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasCaption"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="0" name="hasDiffusionType"/>
                        <xs:element type="knoraXmlImport:uriValueType" maxOccurs="1" minOccurs="0" name="hasReference"/>
                        <xs:element type="knoraXmlImport:intValueType" maxOccurs="1" minOccurs="0" name="hasSequenceNumber"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Image_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Image"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="News">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="contentHasAuthor"/>
                        <xs:element type="AdditionalResource_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasAdditionalResource"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasContent"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="1" name="hasDiffusionType"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasOldId"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="webContentHasTitle"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="News_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="News"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Note">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="unbounded" minOccurs="0" name="hasDiffusionType"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="noteHasText"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Note_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Note"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Person">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasBiography"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasCivilStatus"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasCommentWork"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasName"/>
                        <xs:element type="knoraXmlImport:hlistValueType" maxOccurs="1" minOccurs="0" name="hasNationality"/>
                        <xs:element type="Note_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasNote"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasOldId"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasPlaceBirth"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasPlaceDeath"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="hasPlaceOrigin"/>
                        <xs:element type="Position_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasPosition"/>
                        <xs:element type="Relationship_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasRelationship"/>
                        <xs:element type="knoraXmlImport:hlistValueType" maxOccurs="1" minOccurs="0" name="hasReligion"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="0" name="isApproximateBeginDate"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="0" name="isApproximateEndDate"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="isInArchive"/>
                        <xs:element type="Collection_linkValueType" maxOccurs="1" minOccurs="0" name="isInCollection"/>
                        <xs:element type="Project_linkValueType" maxOccurs="unbounded" minOccurs="0" name="isInProject"/>
                        <xs:element type="SocietyMembership_linkValueType" maxOccurs="unbounded" minOccurs="0" name="isInSociety"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="0" name="isModern"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="1" name="mayHaveBiography"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="0" name="noticeIsValid"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="1" minOccurs="0" name="personHasDate"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Person_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Person"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Position">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="0" name="isApproximateBeginDate"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="0" name="isApproximateEndDate"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="1" minOccurs="0" name="positionHasDate"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="positionHasName"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="positionHasPlace"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Position_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Position"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Project">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="contentHasAuthor"/>
                        <xs:element type="AdditionalResource_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasAdditionalResource"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasContent"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="1" name="hasDiffusionType"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasOldId"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="1" minOccurs="0" name="hasReleaseDate"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="projectHasUrlElement"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="webContentHasTitle"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Project_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Project"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Relationship">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:hlistValueType" maxOccurs="1" minOccurs="0" name="hasRelationType"/>
                        <xs:element type="Person_linkValueType" maxOccurs="unbounded" minOccurs="1" name="isRelationshipTarget"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Relationship_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Relationship"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="SocietyMembership">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="0" name="isApproximateBeginDate"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="0" name="isApproximateEndDate"/>
                        <xs:element type="knoraXmlImport:hlistValueType" maxOccurs="1" minOccurs="0" name="societyHasName"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="societyHasPlace"/>
                        <xs:element type="knoraXmlImport:dateValueType" maxOccurs="1" minOccurs="0" name="societyMembershipHasDate"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="SocietyMembership_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="SocietyMembership"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Transcription">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="1" name="hasDiffusionType"/>
                        <xs:element type="Note_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasNote"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasOldId"/>
                        <xs:element type="User_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasReviewer"/>
                        <xs:element type="knoraXmlImport:hlistValueType" maxOccurs="1" minOccurs="1" name="hasScope"/>
                        <xs:element type="knoraXmlImport:hlistValueType" maxOccurs="1" minOccurs="1" name="hasStatus"/>
                        <xs:element type="Collection_linkValueType" maxOccurs="unbounded" minOccurs="0" name="isInCollection"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="transcriptionHasEnvelope"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="transcriptionHasText"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Transcription_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="Transcription"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="User">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:uriValueType" maxOccurs="1" minOccurs="1" name="isKnoraUser"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="User_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="User"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WebContent">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="knoraXmlImport:resourceType">
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" ref="knoraXmlImport:label"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="unbounded" minOccurs="0" name="contentHasAuthor"/>
                        <xs:element type="AdditionalResource_linkValueType" maxOccurs="unbounded" minOccurs="0" name="hasAdditionalResource"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="hasContent"/>
                        <xs:element type="knoraXmlImport:booleanValueType" maxOccurs="1" minOccurs="1" name="hasDiffusionType"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="0" name="hasOldId"/>
                        <xs:element type="knoraXmlImport:richtextValueType" maxOccurs="1" minOccurs="1" name="webContentHasTitle"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="WebContent_linkValueType">
        <xs:sequence>
            <xs:element type="knoraXmlImport:linkValueType" name="WebContent"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
